.tombol{
    background-color: aqua;
    width: 700px; 
    height: 400px;
}

button{
    background-color: transparent;
    color: #000;
    border:solid 2px #000;
    height: 40px;
    width: 70px;
    margin: 0 110px 30px;
}

.btnup{
    position: absolute;
    left: 110px;
    top: 110px;
}

.btndown{
    position: absolute;
    left: 110px;
    top: 190px;
}

.btnleft{
    position: absolute;
    left: 20px;
    top: 150px;   
}

.btnright{
    position: absolute;
    left: 200px;
    top: 150px;    
}

.btnA{
    position: absolute;
    left: 300px;
    top: 150px;    
}